.corps_texte-container {
    display: flex;
    justify-content: center;
    margin: 0 25px;
}


.corps_texte-container .corps_texte {
    max-width: 1115px;
    text-align: justify;
    margin-left: 45px;
    margin-right: 45px;
    font-size:var(--font-size-body);
    font-style: var(--font-style-body);
    font-family: var(--font-family-body);
    padding: 45px;
}
.breadcrumb {
max-width: 1115px;
text-align: justify;
margin-left: 45px;
margin-right: 45px;
font-size:var(--font-size-body);
font-style: var(--font-style-body);
font-family: var(--font-family-body);
padding: 45px;
display: flex;
justify-content:flex-start;
margin: 0 25px;
}

.pianiste {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: auto;
}

p {
    margin-bottom: 45px;
}

.corps_texte>h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-style: var(--font-style-title);
    font-weight: bolder;
    margin-bottom: 45px;
    @media(max-width: 600px){
        font-size: 24px;
        }
    @media (max-width:800px){
        font-size: 28px;
    }  

}
    

.ressources{
    display: flex;
    justify-content: center ;
    flex-direction: column;


}
#pub {
    height: auto;
    margin: 0 auto;

    transition: transform linear 0.2s;
    max-width: 801px;
    
    @media (min-width: 800px ) {
       width: 687px;
       height: 144px; 
     } 
     @media (max-width:800px){
        width: 450px;
     }
     @media (max-width:600px){
        width: 70vw;
     }
        

}


#pub:hover {
    transform: translateY(-10px);
}

.container-commentaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.commentaire_bleu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:63% ;
    height: 85px;
    background-color: aqua;
    margin-bottom: 35px;
    color: black;
    
}
 .colonne_forms {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
     margin-bottom: 20px;
    

 }

 .form-control {
    width: 70%;
    padding: 15px 25px;
    font-family: var(--font-family-body);
    font-size: 16px;
    transition: box-shadow linear .2s;
 }

 .form-control:focus {
    box-shadow: 0 0 20px rgba(13, 0, 255, 0.258);
 }


 .form-group {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid grey;
    padding: 40px;
 }
 .form-group label {
    padding-bottom: 0.5rem;
    display: block;
 }

 .colonne_forms>textarea{
    height: 200px;
    width: 100%;
    border-radius: var(--border-radius-forms);
    
 }
 /* probleme text align */
 .colonne_checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
 }

 .colonne_checkbox>input{
    width: fit-content;
 }
 .colonne_checkbox>label{
    align-items: top;
    
 }
 .btn{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 65px;
    padding: 5px;
    align-self: flex-start;
    border-radius: var(--border-radius-normal);
    min-width: 170px;
}
.btn_vert{
    background-color: var(--color-button);
    color: var(--white);

 }
 .add_commentaire{
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 30px;
 }

 h3 {
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 30px;
 }
 .breadcrumb {
    display: flex;
    justify-content: flex-start;
    
}

.breadcrumb> li::before {
    content: " > ";
}

.breadcrumb > li:first-of-type::before {
    content: "";
}

    
.breadcrumb> li > a{
    display: flex;
    justify-content: flex-start;
    color: var(--black);
    margin-right: 0.5em;
    text-decoration: none;
    border-bottom: solid 1px var(--black);
}

.breadcrumb>li{
    display: flex;
    justify-content: flex-start;
}