body {
    background-color: var(--white);
    color: var(--black);

    transition: .3s cubic-bezier(0.87, 0, 0.13, 1) color .3s, .3s cubic-bezier(0.87, 0, 0.13, 1) background-color .3s;   
}

.darkThemeButton-container {
    position :fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkThemeSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 1.3em;
    width: 1.3em;
    text-align: justify;
    font-size: 2.8em;
    border: solid 2px var(--black);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}