html {
    width: 100vw;
    height: 100vh;
}

body {
    line-height: 1.5;
    width: 100vw;
    overflow: hidden;
    font-family: var(--font-family-body);
}


.rick {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

@media (min-width:2000px) {
    .rick {
        visibility: visible;
        width: 100vw;
        height: 100vw;
    }
}