.sommaire {
    background-color: var(--color-nav-off);
    @media (min-width:940px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width:940px) {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.sommaire > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em; 
    @media (min-width:940px) {
        border-right: solid 1px var(--color-bg-ressource);
        border-bottom: solid 1px var(--color-bg-ressource);
    }
}

.sommaire > a:first-of-type {
    background-color: var(--color-nav-on);
}

.sommaire > a:last-of-type {
    background-color: var(--color-bg-ressource);
}

/*

.sommaire-content {
    display:flex;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    font-family: var(--font-family-title);
    border-right: 1px solid var(--color-bg-ressource);
    border-bottom: 1px solid var(--color-bg-ressource);
}

.sommaire-content>a {
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: uppercase;
}
*/
.sommaire-content {
    background-color: var(--color-nav-off);
}

.sommaire-content:first-of-type {
    background-color: var(--color-bg-ressource);
}


.sommaire-content:last-of-type {
    background-color: var(--color-nav-on);
}

.corps_texte > ul {
    display: flex;
}

.corps_texte > ul > li::before {
    content: " > ";
}

.corps_texte > ul > li:first-of-type::before {
    content: "";
}

.corps_texte > ul > li > a{
    color: black;
    margin-right: 0.5em;
    text-decoration: none;
    border-bottom: solid 1px black;
}