.sommaire {
    background-color: var(--color-nav-off);
    @media (min-width:940px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (max-width:940px) {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.sommaire > a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em; 
    @media (min-width:940px) {
        border-right: solid 1px var(--color-bg-ressource);
        border-bottom: solid 1px var(--color-bg-ressource);
    }
}

.sommaire > a:first-of-type {
    background-color: var(--color-nav-on);
}

.sommaire > a:last-of-type {
    background-color: var(--color-bg-ressource);
}


.sommaire-content {
    background-color: var(--color-nav-off);
}

.sommaire-content:first-of-type {
    background-color: var(--color-bg-ressource);
}


.sommaire-content:last-of-type {
    background-color: var(--color-nav-on);
}

