.container-menu {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    @media (max-width: 780px) {
        .burger{
            justify-self: flex-end;
            
        }
        .burger>img {
            visibility: visible;
            width: 50px;
            height: 50px;
          
            

        }
    }

}
.desktop_header{
    visibility: visible;
    @media (max-width:780px) {
        visibility: hidden;
        width: 0px;
        
        
    }
}

.desktop_header>ul{
    
    
}

.burger{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.burger>img {
    visibility: hidden;
}

.menu_burger_list{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.menu-logo {
    background-color: var(--color-nav-off);
    padding: 1vw 2vw 1vw 2vw;
}

.menu-logo>img {
    width: 100px;
    height: 60px;

    @media (min-width:780px) {
        width: 111px;
        height: 93px;
    }

    @media (max-width:612px) {
        width: 60px;
        height: 40px;
    }
}

.menu-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: var(--font-family-title);
    background-color: var(--color-nav-on);
    @media (max-width:780px) {
        justify-content: flex-end;
        padding-right: 5%;
        width: inherit;
        
    }
}

.menu-content>ul {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
}

.menu-content>ul>li {
    padding: 2vw;
}

.menu-content>ul>li>a {
    color: var(--white);
    font-family: 'Lato';
    font-size: 1.1em;
    text-decoration: none;
}

@media (max-width:530px) {
    .menu-content>ul>li>a {
        font-size: 0.45em;
    }
}


@media (min-width:780px) {
    .menu-content>ul>li>a {
        font-size: 1.3em;
    }
}

@media (max-width:612px and min-width:530px) {
    .menu-content>ul>li>a {
        font-size: 0.5em;
    }
}

.container-front {
    width: 100%;
    height: fit-content;
    position: relative;
}

.container-front>img {
    width: 100%;
}

.front-H1 {
    position: absolute;
    bottom: 20%;
    width: 100%;
    z-index: 2;
}


h1 {
    font-family: var(--font-family-title);
    text-transform: uppercase;
    font-size: 3vw;
    color: white;
    text-align: center;
    font-weight: bold;
}

.noir {
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 0px;
    height: 80%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}