.container-temoignages {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 115px;
    padding-right: 115px;
    margin-bottom: 45px;
}

@media (max-width: 800px) {
    .container-temoignages {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.temoignages {
    display: flex;
    background-color: var(--color-nav-on);
    flex-direction: column;
    padding: 60px;
    width: 100%;
}


.titre-temoignages {
    /* line-height: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titre-temoignages>h2 {
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.2em;
}

.titre-temoignages>h2>strong {
    font-size: 3em;
}

.titre-temoignages::after {
    content: '';
    background-color: var(--white);
    width: 100%;
    height: 4px;
}

@media (max-width: 700px) {
    .titre-temoignages>h2>strong {
        font-size: 2em;
    }
}



.slider-images {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    flex-direction: row;
}

.etudiant {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.etudiant>p {
    color: var(--white);
    width: 300px;
    white-space: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.etudiant>p>strong {
    font-weight: bold;
}