@import url(reset.css);
:root {

    --color-nav-on: #D13161;
    --color-nav-off: #2B384B;
    --color-bg-ressource: #188A94;
    --size-menu-button: 15px;
    --color-button:#196E43;
    --border-radius-normal:10px; 
    --border-radius-forms:6px;   
    /* police */
    --font-size-body:20px;
    --font-style-body:normal;
    --font-family-body: "Lato", Arial, Helvetica, sans-serif;
    --font-size-title:34px;
    --font-style-title:normal;
    --font-family-title: "Lato", Arial, Helvetica, sans-serif;

    --white: #FFFFFF;
    --black: #000000;
}