.taille_texte {
    width: 300px;
}
p {
    text-align: justify;
}

.colonne_forms > input {
    width:100%;
    margin-bottom: 25px;
    margin-top: 5px;
}


.colonne_checkbox {
    display: flex;
    padding-bottom: 20px;
}

.colonne_checkbox > input {
    margin-right: 10px;
}

.colonne_forms > textarea {
    width:100%;
    margin-bottom: 25px;
    margin-top: 5px;
}